@import "~$src/styles/variables.scss";

.routeList {
    display: flex;
    flex-flow: column nowrap;
    height: $mapHeight;
}

.list {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
}

.footer {
    
}

.selected {
    background: antiquewhite;
}

.routeItem {
    $padding: 5px;
    padding-top: $padding;
    padding-bottom: $padding;
}